@model enigmaBilleteras.Models.billetera

@{
    ViewData["Title"] = "Eliminar";
}

<h1>¿Estas seguro que quieres borrar esta billetera?</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.colorDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.colorDisponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalidadMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalidadMaterial)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">volver a la lista</a>
    </form>
</div>
